html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Courier Prime', monospace;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Nova Mono', monospace;
    text-transform: uppercase;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom, white, transparent 65%), url("../public/cornfield-original-gradient-desaturated.png");
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    min-height: 100vh;
}

blockquote {
    font-style: italic;
    border-left: 3px solid lightgrey;
    padding: 8px 0 8px 30px;
}
